<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
        Boa_N
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {{ active_class }}" id="home" aria-current="page" href="{{ site.baseurl }}/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ active_class }}" id="projects" href="{{ site.baseurl }}/project_list.html">projects</a>
            </li>
            <li>
                <a class="nav-link {{ active_class }}" id="blog" href="{{ site.baseurl }}/blog.html">blog</a>
            </li>
        </div>
    </div>
</nav>
